---
import Social from "./Social.astro";
---

<footer>
  <p>
    ¡Más información sobre mis proyectos en
    <Social platform="GitHub" username="imjonslz" /> y
    <Social platform="Behance" username="jonslz" />
  </p>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
