---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <nav>
    <Hamburger />
    <ThemeIcon />
    <Navigation />
  </nav>
</header>

<style>
  header {
    background-color: #4c1d95;
    padding: 1rem;
  }

  nav {
    display: flex;
    justify-content: center;
  }
</style>
