---
import Base from "./Base.astro";
import "../styles/global.css";
const { frontmatter } = Astro.props;
---

<Base pageTitle={frontmatter.title}>
  <p>Publicado el: {frontmatter.pubDate.toString().slice(0, 10)}</p>
  <p>Escrito por {frontmatter.author}</p>
  <slot />
</Base>
